.form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 50px;
}

.field {
  margin-bottom: 15px;
}

.button {
  width: 100px;
  align-self: center;
}
